.copy-button {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-size: 1.4rem;
	background-color: $grey-2;
	padding: 0.5rem;
	border-radius: 0.4rem;
	border: 0.1rem solid $grey-7;
	transition: all 0.3s;
	margin: 2rem auto;
	transition: .3s;

	&:hover {
		cursor: pointer;
		background-color: $grey-4;
	}
}
