.external-links {
	font-size: 1.6rem;
	margin-top: 10rem;
	margin-left: auto;
	margin-right: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;

	display: grid;
	grid-template-columns: repeat(1, 1fr);

	a {
		transition: 0.2s;

		@include mobile() {
			font-weight: 300;
		}

		&:hover {
			color: skyblue;
			text-shadow: 0 0 2px $black-1;
		}
	}

	p {
		@include mobile() {
			font-weight: 300;
		}
	}

	.donate {
		:hover {
			.coffee-mug {
				transform: translate(0.5rem, -0.5rem);
			}
		}

		.coffee-mug {
			display: inline-block;
			transition: 0.5s;
		}
	}
}
