.window-info {
	font-size: 2rem;

	section {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;

		margin-top: 4rem;
	}

	h3 {
		@include mobile() {
			font-weight: 300;
		}
	}

	p {
		font-weight: 300;
		padding: 0 1rem;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0 4rem;
	}

	.ip-address {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin: auto;

		filter: blur(0.5rem);
		-webkit-filter: blur(0.5rem);

		transition: 0.2s;

		&:hover {
			filter: blur(0rem);
			-webkit-filter: blur(0rem);
		}
	}

	code {
		position: relative;
		transition: all 0.2s;

		&:hover {
			background-color: $grey-4;
		}
	}

	.tooltip {
		background-color: $light-grey-10;
		position: absolute;
		left: 0;
		bottom: 3.5rem;
		font-size: 1.4rem;
		padding: 1rem;
		text-align: center;
		border-radius: 0.4rem;
		pointer-events: none;

		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;

		-webkit-animation: fade-in 0.3s forwards;
		animation: fade-in 0.3s forwards;

		&__title {
			font-weight: 400;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			margin: auto;
		}

		&__description {
		}

		&__learn-more {
			font-size: 1.2rem;
		}
	}
}
