.window-info {
	font-size: 2rem;

	section {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;

		margin-top: 4rem;
	}

	h3 {
		@include mobile() {
			font-weight: 300;
		}
	}

	p {
		font-weight: 300;
		padding: 0 1rem;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0 4rem;
	}

	.ip-address {
		filter: blur(0.5rem);
		-webkit-filter: blur(0.5rem);

		transition: 0.2s;

		&:hover {
			filter: blur(0rem);
			-webkit-filter: blur(0rem);
		}
	}
}
