*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	scroll-behavior: smooth;
}

html,
body {
	box-sizing: border-box;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px
}

body {
	min-height: 100vh;
	min-width: 100vw;
	padding: 2rem;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	position: relative;
}

// abstracts
@import "abstracts/animations";
@import "abstracts/mixins";
@import "abstracts/variables";

// base
@import "base/utility";
@import "base/typography";

// components
@import "components/copy-button";
@import "components/external-links";
@import "components/window-info";

// layout
// @import "layout/layout";

// pages
@import "pages/home";
